*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fafafa;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 500px;
    padding: 80px;
}

.container form{
    display: flex;
    justify-content: center;
}

.container form img{
    width: 60px;
    background-color: #46B5D1;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 15px 15px;
}

.container form div p{
    margin-top: 20px;
    color: #46B5D1;
}

form div{
    margin: 50px;
    text-align: center;
}

form div p span{
    color: #000000;
}

.container form div .dif{
    color: #666666;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 150px;
    min-height: 70vh;
    background: #ffffff;
    margin-top: 20px;
}

.form-container .form-container-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.form-container .form-container-left .Name-Email-Bloc{
    display: flex;
    justify-content: space-between;
    margin: 0px 0;
}

.form-container-left h1{

}

.form-container-right img{  
    width: 400px;
    height: 600px;
}